/*
  experience.css
  Cody Fagley
  Last Modified April 27, 2021
*/

/*
  Contains css styling for experience "page"
*/


.experienceItem
{
  position: absolute;
  margin-top: 7.5ex;

  opacity: 0;
}

.companyLogo
{
  margin-top: .5ex;
  margin-inline: 5ex;
  height: 5ex;
}

.experiencePeriod
{
  margin-top: 1.5ex;
  
  font-size: 2ex; 
  font-style: italic;
}

.experienceContentTitle
{
  margin-top: 2ex;
  margin-bottom: 2ex;

  color:rgb(75, 75, 75);
  font-size: 2ex;
  font-weight: bold;
}


/*
  MEDIA CORRECTIONS
*/
@media screen and (max-height: 900px)
{
  .experienceItem
  {
    margin-top: 3ex;
  }
}
