/*
  projects.css
  Cody Fagley
  Last Modified May 5, 2021
*/

/*
  CSS stylesheet for projects "page"
*/


.project
{
  position: absolute;
  height: 80%;
  width: 100%;
  margin-top: 7ex;
  margin-left: 5ex;

  display: flex;
  opacity: 0;
}

.projectText
{
  position: inherit;
  padding-right: 2.5ex;

  color:rgb(75, 75, 75);
  font-size: 2ex;
  font-style: italic;
}

/*
  Dialog Handling
*/
.ui-dialog
{
  background-color: rgb(38, 33, 22);
  color: white;
  text-align: center;

  z-index: 99999999999;
  cursor: pointer;
}

.ui-dialog .ui-dialog-titlebar
{
  padding: .5ex;
  background-color: rgb(75, 75, 75);

  border-color: rgb(75, 75, 75);
  border-bottom: black;
  border-style: solid;
}
  .no-close .ui-dialog-titlebar-close 
  {  
    display: none;
  } 

.ui-dialog .ui-dialog-content
{
  padding: 1.5ex;
  z-index: 60;
}



/*
  MEDIA SCREENS
*/
@media screen and (max-height: 900px)
{
  .project
  {
    margin-top: 4ex;
  }

  .projectText
  {
    font-size: 1.5ex;
    width: 70ex;
  }
}

@media screen and (orientation:portrait) 
{
  .project, .experienceContent
  {
    display: unset;
  } 

  .showcaseRight
  {
    margin-top: 10%;
  }

  .project .showcaseRight
  {
    font-size: 3.5ex;
  }

}
