/*
  projects.css
  Cody Fagley
  Last Modified April 27, 2021
*/

/*
  CSS stylesheet for projects "page"
*/


.project
{
  position: absolute;
  height: 80%;
  width: 100%;
  margin-top: 7ex;
  margin-left: 5ex;

  display: flex;
  opacity: 0;
}

.projectText
{
  position: inherit;
  width: 55ex; 
  padding-right: 2.5ex;

  color:rgb(75, 75, 75);
  font-size: 2ex;
  font-style: italic;
}

.projectImages
{
  margin-top: -5ex;
  margin-left: 3.5ex;
}


.projectNavigatorBar
{
  position: absolute;
  bottom: 0%;
  width: 100%;

  display: flex;
}

.projectNavigatorBar .dot:hover
{
  background-color: teal;
}


/*
  MEDIA SCREENS
*/

@media screen and (max-height: 900px)
{
  .project
  {
    margin-top: 4ex;
  }

  .projectText
  {
    font-size: 1.5ex;
    width: 70ex;
    margin-left: -15ex;
  }
}

/*
  Dialog Handling
*/
.ui-dialog
{
  background-color: rgb(38, 33, 22);
  color: white;
  text-align: center;

  z-index: 55;
  cursor: pointer;
}

.ui-dialog .ui-dialog-titlebar
{
  padding: .5ex;
  background-color: rgb(75, 75, 75);

  border-color: rgb(75, 75, 75);
  border-bottom: black;
  border-style: solid;
}
  .no-close .ui-dialog-titlebar-close 
  {  
    display: none;
  } 

.ui-dialog .ui-dialog-content
{
  padding: 1.5ex;
  z-index: 60;
}

