/*
  style.css
  Cody Fagley
  Authored on   March 1, 2019
  Last Modified   May 5, 2021
*/

/*
  Contains stylistic definitions for Cody Fagley Personal Website

  Table of Contents
  =================
  1.) Website Infrastructure
    1.a) Top Navigation Bar
    1.b) Force Landscape (Mobile)
  2.) Signature
    2.a) Name Plate
    2.b) Job Plate
  3.) Showcase
  4.) Utility Classes
    4.a) Border
    4.b) Spacer
    4.c) Navigation "Dot"
*/


/*
  1.) Website Infrastructure
*/
html, body
{
  height: 100%;
  width:  100%;
}

/*
  Body-Specific Definitions
*/
body
{
  background-color: rgb(242, 242, 242);
  position: absolute;
}

/* 1.a) Top Navigation Bar */
.topbar
{
  position: fixed;
  width: 100ex;
  height: 5ex;
  top: 2ex;
  left: 25%;
}
  .topbar ul
  {
    list-style: none;
  }

  /* Navigation Items */
  .topbar ul li
  {
    font-family: EB Garamond;
    display: inline;

    font-size: 2ex;
    font-style: italic;
    padding-inline: 5ex;
    cursor: pointer;
    color: rgb(95, 95, 95);
  }

  .topbar ul li:hover
  {
    opacity: 60%;
  }

  .topbar ul li:active
  {
    opacity: 100%;
    color:rgb(0, 0, 0);
  }

  /*
    1.b) Force Landscape (Mobile)
  
      Taken from: http://fuel-efficient-vehicles.org/pwsdb/?p=330
  */
  #container { display:block; position: fixed; }


/*
  2.) Signature
*/

.signature
{
  width: 20%;
  height: auto;
  margin-left: 1ex;

  z-index: 45;
}

/* 2.a) Name Plate */
.nameplate
{
  color: rgb(55, 55, 55);
  font-family: EB Garamond;
  font-size: 2em;
  position: inherit;
  z-index: 1;
}


/* 2.b) Job Plate */
.jobplate
{
  color: rgb(95, 95, 95);
  font-family: EB Garamond;
  font-size: 1.5em;
  position: inherit;
  z-index: 1;
  top: 3ex;
  margin-top: -1.5ex;
}

/* 2.c) Image Plate */
.imgplate
{
  top: 10ex;
  left: 1ex;
  height: auto;
  max-width: 100%;
  position: inherit;
  z-index: 1;
}

.contact
{
  font-family: EB Garamond;
  font-size: 1em;
  z-index: 2;
  padding-top: .5ex;
}


/*
  3.) Showcase
*/
.showcase
{
  height: 65%;
  width: 70%;

  top: 10ex;
  left: 25%;
  opacity: 0;

  position: inherit;
}

  .showcaseTitle
  {
    overflow-y: auto;
    position: relative;
    top: 2ex;
    left: 3ex;


    font-size: 3ex;
    font-weight: bold;
  }

  .showcaseLeft
  {
    margin-inline: 2ex; 
    max-width: 40%;
  }
  .showcaseRight
  {
    overflow-y: auto;
    max-width: 95%;
    width: auto;
    margin-left: 3ex;

    color: rgb(75, 75, 75);
    font-size: 1.75ex;
  }

  .showcase img
  {
    max-width: 85%;
  }

  .showcaseSubtitle
  {

    color: rgb(75, 75, 75);
    font-size: 2.25ex;
    font-style: italic;
    font-weight: bold;
    margin-left: 5ex;
  }

  .showcaseSubSubtitle
  {
    color: rgb(75, 75, 75);
    font-size: 2.25ex;
    font-style: italic;
    margin-left: 5ex;
  }

  .experienceDescript
  {
    max-width: 100%;

    color:rgb(75, 75, 75);
    font-size: 2ex;
  }

  .experienceRole ul li
  {
    margin-bottom: 1ex;
  }


/*
  4.) Utility Classes
*/

  /*
    4.a) Border
  */
  .border
  {
    border-width: .5ex;
    border-color: rgb(95, 95, 95);
    border-radius: .5ex;
    border-style: solid;
  }

  /*
    4.b) Spacer
  */

  .spacer
  {
    padding: 5%;
  }


  /*
    4.c) Navigation "Dot"
  */
  .navigatorBar
  {
    position: absolute;
    bottom: -5%;
    width: 40%;
    z-index: 99999999;

    display: flex;
  }

  .navigatorBar .dot:hover
  {
    background-color: teal;
  }

  .dot 
  {
    margin: auto;
    height: 1.25em;
    width: 1.25em;

    /* Rounded border */
    border-style: solid;
    border-radius: 9999px;
    border-width: .35ex;
    cursor: pointer;
  }




/*
  MEDIA CORRECTIONS
*/
@media screen and (max-height: 900px)
{
  .showcase
  {
    top: 7.5ex;
  }

  .showcaseTitle { font-size: 2ex; }

  .showcase .showcaseLeft, .showcase .showcaseRight
  {
    font-size: 1ex;
  }
}
