/*
  style.css
  Cody Fagley
  Authored on   March 1, 2019
  Last Modified March 1, 2019
*/

/*
  Contains stylistic definitions for Cody Fagley Personal Website

  Table of Contents
  =================
  1.) Website Infrastructure
  2.) Signature
    2.a) Name Plate
    2.b) Job Plate
  3.) Chart 
    3.a) Canvas
*/


/*
  1.) Website Infrastructure
*/
html, body
{
  height: 100%;
  width:  100%;
}

/*
  Body-Specific Definitions
*/
body
{
  background-color: rgb(242, 242, 242);
  position: fixed;
  overflow: hidden;
}


/*
  2.) Signature
*/

/* 2.a) Name Plate */
.nameplate
{
  color: rgb(55, 55, 55);
  font-family: EB Garamond;
  font-size: 2em;
  position: inherit;
  z-index: 1;
}


/* 2.b) Job Plate */
.jobplate
{
  color: rgb(95, 95, 95);
  font-family: EB Garamond;
  font-size: 1.5em;
  position: inherit;
  z-index: 1;
  top: 3ex;
}

/* 2.c) Image Plate */
.imgplate
{
  top: 10ex;
  left: 1ex;
  height: auto;
  max-width: 15%;
  position: inherit;
  z-index: 1;
}

.signature
{
  width: 20%;
  height: auto;
  position: inherit;
}

.contact
{
  font-family: EB Garamond;
  font-size: 1.25em;
  top: 18em;
  left: 2ex;
  position: inherit;
  z-index: 2
}

/*
  3.) Chart 
*/

/* 3.a) Canvas */
.chart_canvas
{
  height: 80%;
  width: 80%;

  top: 10%;
  left: 15%;

  position: inherit;
  z-index: 0;
}

