/*
  style.css
  Cody Fagley
  Authored on   March 1, 2019
  Last Modified March 1, 2019
*/

/*
  Contains stylistic definitions for Cody Fagley Personal Website

  Table of Contents
  =================
  1.) Website Infrastructure
  2.) Signature
    2.a) Name Plate
    2.b) Job Plate
  3.) Chart 
    3.a) Canvas
*/


/*
  1.) Website Infrastructure
*/
html, body
{
  height: 100%;
  width:  100%;
}

/*
  Body-Specific Definitions
*/
body
{
  background-color: rgb(242, 242, 242);
  position: absolute;
}


/*
  2.) Signature
*/

/* 2.a) Name Plate */
.nameplate
{
  color: rgb(55, 55, 55);
  font-family: EB Garamond;
  font-size: 6ex;
  top:    1ex;
  left: 1.5ex;
  position: inherit;
}


/* 2.b) Job Plate */
.jobplate
{
  color: rgb(95, 95, 95);
  font-family: EB Garamond;
  font-size: 4ex;
  padding-top: 5ex;
  left: 2.5ex;
  position: inherit;
}

/* 2.c) Image Plate */
.imgplage
{
  top: 20ex;
  left: 1ex;
  height: 30ex;
  width: 30ex;
  position: inherit;
}


/*
  3.) Chart 
*/

/* 3.a) Canvas */
.chart_canvas
{
  height: 80%;
  width: 80%;

  top: 10%;
  left: 10%;

  position: inherit;
  z-index: -1;
}

